<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}] %-5level [%C.%M(%F:%L)]%n%msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <logger name="team.jlm" level="trace" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <root level="error">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
